header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 8px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header>h2 {
    color: rgb(167, 0, 0);
    font-family: "Roboto", cursive;
    font-weight: 600;
}

.errorContainer{
    padding: 0 32%;
}

.errorMessage{
    text-align: center;
    background-color:#faafaa;
    width:100%;
    padding: 2% 0;
    border-radius:15px;
}
.logoutButton{
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #FAFAFA;
    background: #f5ba13;
    /* background-color: #f5ba13; */
    color: #FFEFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: background 0.1s ease-in-out;
    
}

.logoutButton:hover{
    background: #ff820c;
    transition: background 0.1s ease-in-out;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #888;
}

.notesWrapper{
padding: 0 auto;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note>.noteTitle {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note>.noteContent {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note>.NoteFooter{
    padding-top: 5px;
}

.note>.NoteFooter>.creationDate {
    font-size: 0.85em;
    position: relative;
    float: left;
    color: grey;
    outline: none;
}

.note>.NoteFooter>.NoteButtonGroup {
    position: relative;
    float: right;
    margin-right: 10px;
}

.note>.NoteFooter>.NoteButtonGroup>.favouriteNoteButton {
    color: #f5ba13;
    border: none;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border: #ccc;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.note>.NoteFooter>.NoteButtonGroup>.deleteNoteButton {
    color: #f5ba13;
    border: none;
    width: 24px;
    height: 24px;
    border: #ccc;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.notesForm {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

form .addbutton {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}